USE [master]
GO
/****** Object:  Database [Sniper]    Script Date: 2016/12/2 16:27:51 ******/
CREATE DATABASE [Sniper] ON  PRIMARY 
( NAME = N'Sniper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL\MSSQL\DATA\Sniper.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sniper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL\MSSQL\DATA\Sniper.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sniper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sniper]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[Id] [uniqueidentifier] NOT NULL,
	[ActivityName] [nvarchar](max) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[CreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ActivityLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setting]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysLog]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLog](
	[Id] [uniqueidentifier] NOT NULL,
	[Level] [int] NOT NULL,
	[ShortMessage] [nvarchar](max) NOT NULL,
	[FullMessage] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[PageUrl] [nvarchar](max) NULL,
	[ReferrerUrl] [nvarchar](max) NULL,
	[CreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SysWorkLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysPermission]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysPermission](
	[Id] [uniqueidentifier] NOT NULL,
	[SysResource] [nvarchar](max) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Creator] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_PermissionRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysRole]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRole](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Creator] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Modifier] [uniqueidentifier] NULL,
	[ModifiedTime] [datetime] NULL,
 CONSTRAINT [PK_SysRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysStore]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysStore](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[SslEnabled] [bit] NOT NULL,
	[Disabled] [bit] NOT NULL,
	[IconClass] [nvarchar](500) NOT NULL,
	[CompanyName] [nvarchar](500) NULL,
	[Creator] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Modifier] [uniqueidentifier] NULL,
	[ModifiedTime] [datetime] NULL,
 CONSTRAINT [PK_SysStore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUser]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[Id] [uniqueidentifier] NOT NULL,
	[Account] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[Sex] [nvarchar](2) NULL,
	[Enabled] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[LoginFailedNum] [int] NOT NULL,
	[AllowLoginTime] [datetime] NULL,
	[LoginLock] [bit] NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[LastIpAddress] [nvarchar](50) NULL,
	[LastActivityTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedTime] [datetime] NULL,
	[ModifiedTime] [datetime] NULL,
	[Modifier] [uniqueidentifier] NULL,
	[Creator] [uniqueidentifier] NULL,
	[Avatar] [image] NULL,
 CONSTRAINT [PK_SysUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUserLoginLog]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserLoginLog](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IpAddress] [nvarchar](50) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysLoginLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUserRole]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserRole](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SysUserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysUserToken]    Script Date: 2016/12/2 16:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUserToken](
	[Id] [uniqueidentifier] NOT NULL,
	[SysUserId] [uniqueidentifier] NOT NULL,
	[ExpireTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SysUserToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SysLog] ([Id], [Level], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [CreationTime]) VALUES (N'68173dc3-a3d6-405c-8016-23dbccb3c9b3', 40, N'未将对象引用设置到对象的实例。', N'未将对象引用设置到对象的实例。', N'127.0.0.1', N'http://localhost:55500/profile/avatar', N'/system', CAST(0x0000A68C016DB2B3 AS DateTime))
INSERT [dbo].[SysLog] ([Id], [Level], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [CreationTime]) VALUES (N'5ad97f38-75e5-4eb6-93e6-6c5961bf33b0', 20, N'Admin 系统启动', N'', N'', N'', N'', CAST(0x0000A68C016EBC67 AS DateTime))
INSERT [dbo].[SysLog] ([Id], [Level], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [CreationTime]) VALUES (N'8323ba27-356b-49fa-b94b-7cba3206e4c9', 20, N'Admin 系统启动', N'', N'', N'', N'', CAST(0x0000A68C016D8568 AS DateTime))
INSERT [dbo].[SysUserLoginLog] ([Id], [UserId], [IpAddress], [LoginTime], [Message]) VALUES (N'e1445969-881d-4272-84ef-890e33d8d232', N'fa73e429-f370-4ec4-bd65-a5f00c665936', N'127.0.0.1', CAST(0x0000A68C016D9A2A AS DateTime), N'登入：成功')
INSERT [dbo].[SysUserToken] ([Id], [SysUserId], [ExpireTime]) VALUES (N'e12b4d27-12c3-4028-947a-62cfc382a1f0', N'fa73e429-f370-4ec4-bd65-a5f00c665936', CAST(0x0000A69B016D9A3C AS DateTime))
ALTER TABLE [dbo].[ActivityLog] ADD  CONSTRAINT [DF_ActivityLog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  CONSTRAINT [DF_ActivityLog_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysLog] ADD  CONSTRAINT [DF_SysWorkLog_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysPermission] ADD  CONSTRAINT [DF_PermissionRecord_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SysPermission] ADD  CONSTRAINT [DF_PermissionRecord_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysRole] ADD  CONSTRAINT [DF_SysRole_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SysRole] ADD  CONSTRAINT [DF_SysRole_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysStore] ADD  CONSTRAINT [DF_SysStore_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SysStore] ADD  CONSTRAINT [DF_SysStore_SslEnabled]  DEFAULT ((0)) FOR [SslEnabled]
GO
ALTER TABLE [dbo].[SysStore] ADD  CONSTRAINT [DF_SysStore_Disabled]  DEFAULT ((0)) FOR [Disabled]
GO
ALTER TABLE [dbo].[SysStore] ADD  CONSTRAINT [DF_SysStore_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_Active]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_IsSystemAccount]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_Failed]  DEFAULT ((0)) FOR [LoginFailedNum]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_Lock]  DEFAULT ((0)) FOR [LoginLock]
GO
ALTER TABLE [dbo].[SysUser] ADD  CONSTRAINT [DF_SysUser_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SysUserLoginLog] ADD  CONSTRAINT [DF_SysUserLoginLog_LoginTime]  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[SysUserRole] ADD  CONSTRAINT [DF_SysUserRole_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SysUserToken] ADD  CONSTRAINT [DF_SysUserToken_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SysUserToken] ADD  CONSTRAINT [DF_SysUserToken_ExpireTime]  DEFAULT (getdate()) FOR [ExpireTime]
GO
ALTER TABLE [dbo].[SysPermission]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRecord_SysRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[SysRole] ([Id])
GO
ALTER TABLE [dbo].[SysPermission] CHECK CONSTRAINT [FK_PermissionRecord_SysRole]
GO
ALTER TABLE [dbo].[SysPermission]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRecord_SysUser] FOREIGN KEY([Creator])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysPermission] CHECK CONSTRAINT [FK_PermissionRecord_SysUser]
GO
ALTER TABLE [dbo].[SysRole]  WITH CHECK ADD  CONSTRAINT [FK_SysRole_SysUser] FOREIGN KEY([Creator])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysRole] CHECK CONSTRAINT [FK_SysRole_SysUser]
GO
ALTER TABLE [dbo].[SysRole]  WITH CHECK ADD  CONSTRAINT [FK_SysRole_SysUser1] FOREIGN KEY([Modifier])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysRole] CHECK CONSTRAINT [FK_SysRole_SysUser1]
GO
ALTER TABLE [dbo].[SysStore]  WITH CHECK ADD  CONSTRAINT [FK_SysStore_SysUser] FOREIGN KEY([Creator])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysStore] CHECK CONSTRAINT [FK_SysStore_SysUser]
GO
ALTER TABLE [dbo].[SysStore]  WITH CHECK ADD  CONSTRAINT [FK_SysStore_SysUser_Modifier] FOREIGN KEY([Modifier])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysStore] CHECK CONSTRAINT [FK_SysStore_SysUser_Modifier]
GO
ALTER TABLE [dbo].[SysUser]  WITH CHECK ADD  CONSTRAINT [FK_SysUser_SysUser] FOREIGN KEY([Id])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysUser] CHECK CONSTRAINT [FK_SysUser_SysUser]
GO
ALTER TABLE [dbo].[SysUser]  WITH CHECK ADD  CONSTRAINT [FK_SysUser_SysUser_creator] FOREIGN KEY([Creator])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysUser] CHECK CONSTRAINT [FK_SysUser_SysUser_creator]
GO
ALTER TABLE [dbo].[SysUserLoginLog]  WITH CHECK ADD  CONSTRAINT [FK_SysUserLoginLog_SysUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysUserLoginLog] CHECK CONSTRAINT [FK_SysUserLoginLog_SysUser]
GO
ALTER TABLE [dbo].[SysUserRole]  WITH CHECK ADD  CONSTRAINT [FK_SysUserRole_SysRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[SysRole] ([Id])
GO
ALTER TABLE [dbo].[SysUserRole] CHECK CONSTRAINT [FK_SysUserRole_SysRole]
GO
ALTER TABLE [dbo].[SysUserRole]  WITH CHECK ADD  CONSTRAINT [FK_SysUserRole_SysUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysUserRole] CHECK CONSTRAINT [FK_SysUserRole_SysUser]
GO
ALTER TABLE [dbo].[SysUserToken]  WITH CHECK ADD  CONSTRAINT [FK_SysUserToken_SysUser] FOREIGN KEY([SysUserId])
REFERENCES [dbo].[SysUser] ([Id])
GO
ALTER TABLE [dbo].[SysUserToken] CHECK CONSTRAINT [FK_SysUserToken_SysUser]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表操作记录日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ActivityLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Setting', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Setting', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'设置表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Setting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Debug=10,Information=20,Warning=30,Error=40,Fatal=50' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'Level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'错误信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'ShortMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'完整错误信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'FullMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'实体名称，表名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'PageUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'实体Id，表id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'ReferrerUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统日记表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'唯一资源标识符。格式：命名空间.控制器.方法名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysPermission', @level2type=N'COLUMN',@level2name=N'SysResource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色权限数据列表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysPermission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称系统' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysStore', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'启用Ssl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysStore', @level2type=N'COLUMN',@level2name=N'SslEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysStore', @level2type=N'COLUMN',@level2name=N'Disabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统描述表，一条数据' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysStore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'账号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'活跃的，是否被冻结的' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'Enabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统默认账号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'IsAdmin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'CreationTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'AllowLoginTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录锁' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'LoginLock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统用户表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户登录Token' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUserToken'
GO
USE [master]
GO
